/*

This is the Material Design theme for FullCalendar Weekly Agenda view

Creation Date: Aug 19th 2015
Author: Jacky Liang
Version: FullCalendar 2.4.0
Tested Using the Following FC Settings:

    editable: false,
    handleWindowResize: true,
    weekends: false, // Hide weekends
    defaultView: 'agendaWeek', // Only show week view
    header: false, // Hide buttons/titles
    minTime: '07:30:00', // Start time for the calendar
    maxTime: '22:00:00', // End time for the calendar
    columnFormat: {
        week: 'ddd' // Only show day of the week names
    },
    displayEventTime: true,
    allDayText: 'Online/TBD'

Note: This has NOT been tested on Monthly or Daily views.

Colors: Use the following - https://www.google.com/design/spec/style/color.html#color-color-palette
        at the 700 level. An opacity of 0.65 is automatically applied to the
        700 level colors to generate a soft and pleasing look.

        Color were applied to each event using the following code:

        events.push({
            title: 'This is a Material Design event!',
            start: 'someStartDate',
            end: 'someEndDate',
            color: '#C2185B'
        });

*/

.fc-state-highlight {
    opacity: 0;
    border: none;
}

/* Styling for each event from Schedule */

.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    opacity: 1;
}

.html2canvas-container {
    width: 3000px !important;
    height: 3000px !important;
}


.fc-time-grid-event.fc-v-event.fc-event:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
}

/* Bolds the name of the event and inherits the font size */

.fc-event {
    font-size: small !important;
    font-weight: bold !important;
}

/* Remove the header border from Schedule */

.fc td,
.fc th {
    border-style: ridge !important;
    border-width: 1px !important;
    padding: 4px 3px 0px 3px !important;
    vertical-align: top !important;
    border-left-width: 0;

}

.fc-row fc-widget-header {
    border-color: transparent;
}

.fc td {
    border-top-width: 0;
    padding: 3px !important;
}

.fc-widget-header {
    background-color: #cc5500;
    color: white;
}

/* Inherits background for each event from Schedule. */

.fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: 0.25 !important;
}

/* Normal font weight for the time in each event */

.fc-time-grid-event .fc-time {
    font-weight: normal !important;
}

/* Apply same opacity to all day events */

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
    opacity: 0.65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */

.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: 0.65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Material design button */

.matbut {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: medium;
    font-style: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.matbut {
    position: relative;
    overflow: hidden;
}

.matbut:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.matbut:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.fc-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    letter-spacing: 0.01em;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fc-button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.fc-button:focus,
.fc-button:hover {
    text-decoration: none;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */

.fc-state-active {
    background-color: rgba(158, 158, 158, 0.2);
}

/* Not raised button */

.fc-state-default {
    box-shadow: None;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#classname {
    font-weight: bold;
    margin-bottom: -10px;
    font-size: large;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-height: 85%;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 35%;
}

#prof {
    font-size: medium;
    margin-bottom: -5px;
}

#info {
    margin: 10px;
}

body a:link,
body a:visited {
    font-weight: bold;
    color: #3c87a3;
}

.time {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: medium;
}

.fc td,
.fc th {
    border-color: #E7E7E7;

}

.fc-time-grid .fc-slats td {
    height: 1.5em;
    border-bottom: initial;
    border-color: #E7E7E7;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card {
    transition: 0.3s;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}


.cardcontainer {
    padding: 2px 16px;
    display: block;
    transition: width 300ms ease-in-out, height 300ms ease-in-out;
}


tbody {
    border-width: 0px;
}