.version {
    padding: 0px 5px 5px 0px;
    text-align: right;
}

.creator-tag {
    margin: 10px 5px 5px 0px;
    text-align: center;
}

.options-card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 5px;
}

#version-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.options-header {
    padding: 16px 16px 0px 16px;
    font-size: 20px;
}

#contributors_container {
    text-align: center;
    margin-top: 30;
    padding: 5px 20px 20px 20px;
    width: auto;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
}

#contributor-list {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.contributor-card {
    cursor: pointer;
    padding: 5px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-gap: 1rem;
}

.contributor-card img {
    width: 200px;
    height: 200px;
}

.contributor-name {
    font-weight: bold;
    margin: 0;
}

.creator-contributor-name {
    font-weight: bold;
    margin: 0;
    border-style: outset;
    border-color: goldenrod;
    background-color: gold;
}

.mv3-contributor-name {
    font-weight: bold;
    margin: 0;
    border-style: outset;
    border-color: grey;
    background-color: silver;
}

.title {
    font-weight: bold;
    font-size: small;
    margin: -0.4rem;
}

.contributor-username {
    margin: -2px 0 5px 0;
    font-style: italic;
}

.contributor-title {
    margin-bottom: 0;
    font-size: 15px;
}

.open-source-tag {
    padding: 10px;
    font-size: 16px;
}
