.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding: 3px 16px 3px 12px;
}

h2 {
    padding: 10px 0px 0 10px;
}

li {
    width: 350px;
}

body {
    min-width: 370px;
    min-height: 400px;
}

.settingsbut {
    margin-right: 2px;
    border: 0px;
    border-radius: 50%;
    transition: 0.3s;
}


.settingsbut:focus {
    outline: 0;
}

.settingsbut:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
}

.selected {
    box-shadow: 0 0 0 1pt #FF9800;
}

.settingsbut:focus:after:hover {
    outline: 0;
    transition: 0.3s;
}

.copybut {
    background-color: transparent;
    padding: 0px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;
}


.copybut:focus {
    outline: 0;
}

.shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.16);
}

#copyicon {
    font-size: x-large;
    border-radius: 50%;
    padding: 3px;
}


ul {
    margin-bottom: 30px;
}

i {
    padding: 4px 0px;
}
#header {
    border-radius: 7px;
}
.settings {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    display: flex;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    padding: 7px 5px 5px 7px;
    margin-right: 2px;
    margin-bottom: 3px;
    border-radius: 7px;
}


/* .settings:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
} */

.matbut {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: medium;
    font-style: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #ff9800;
}

.matbut {
    position: relative;
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.matbut:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.card:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-height: 85%;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
}


@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.matbut:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


.card:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


input {
    width: 80px;
    border-radius: 5px;
    color: #FF0000;
}

input:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::placeholder {
    color: #ffbd9a;
    ;
}

.select-style {
    border: 1.5px solid #FF0000;
    width: 60px;
    margin-right: 5px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    background: transparent no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    color: #FF0000;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}