.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding: 3px 16px 3px 12px;
}

h2 {
    padding: 10px 0px 0 10px;
}

li {
    width: 350px;
}

body {
    min-width: 370px;
    min-height: 400px;
    position: relative;
}

#courseList {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 30px;
}

#empty {
    font-weight: normal;
    font-size: large;
    margin: 60px 30px 200px 30px;
    text-align: center;
}

#empty #main {
    margin-bottom: 5px;
}

#empty span {
    font-size: small;
    display: table;
    margin: 0 auto;
    font-weight: bold;
}

.settingsbut {
    margin-right: 2px;
    border: 0px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
}


.settingsbut:focus {
    outline: 0;
}

.settingsbut:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
}

.selected {
    box-shadow: 0 0 0 1pt #FF9800;
}

.settingsbut:focus:after:hover {
    outline: 0;
    transition: 0.3s;
}

.copybut {
    background-color: transparent;
    padding: 0px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;
}

.copybut:focus {
    outline: 0;
}

.shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.16);
}

#copyicon {
    font-size: x-large;
    border-radius: 50%;
    padding: 3px;
}

i {
    padding: 4px 0px;
}

#card-header {
    border-radius: 7px;
}

.settings {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    padding: 7px 5px 5px 7px;
    margin: 0px 10px 0px 0px;
    border-radius: 7px;
}

/* .settings:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
} */

.matbut {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: medium;
    font-style: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #ff9800;
}

.matbut {
    position: relative;
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.matbut:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.card:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-height: 85%;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
}


@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.matbut:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


.card:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


input {
    border-radius: 5px;
    color: rgba(0, 0, 45, 0.48)
}

input:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#search-popup {
    background: white;
    color: #747474;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    margin: auto;
    bottom: 42px;
    right: 20px;
    padding: 10px;
    border-radius: inherit;
    width: 120px;
}


.flex-container {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1 1 auto;
}

.select-style {
    border: 1px solid #979797;
    margin: 10px 0px;
    border-radius: 5px;
    display: none;
    background: transparent no-repeat 90% 50%;
    position: relative;
}

.select-style:after {
    content: '\e5c5';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: rgba(0, 0, 45, 0.48);

    position: absolute;
    pointer-events: none;

    bottom: 0px;
    right: 0px;
}

.select-style select {
    padding: 5px 8px;
    border: none;
    color: rgba(0, 0, 45, 0.48);
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    word-break: normal;
    -ms-word-break: normal;
    overflow: visible;
}

.select-style select:focus {
    outline: none;
}

#class_id_input {
    display: none;
    border: 1px solid #979797;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 8px;
}

#class_id_input::placeholder {
    color: rgba(0, 0, 45, 0.48);
}

#search-class {
    float: right;
    font-size: inherit;
    padding: 7px 11px;
    margin: 8px 0px;
}

#import-export-popup {
    background: white;
    color: #747474;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    margin: auto;
    bottom: 42px;
    right: 10px;
    border-radius: inherit;
    width: 140px;
}


.simple-menu-option {
    display: inline-block;
    color: rgba(0, 0, 45, 0.48);
    border: none;
    background-color: white;
    font-size: 15px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
    padding: 10px 0px 5px 5px;
    border-radius: 7px;
}

.simple-menu-option i {
    font-size: 19px;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 3px;
    margin-bottom: 3px;
}


.simple-menu-option:hover {
    background-color: rgba(177, 175, 175, 0.200);
    transition-duration: 0.4s;
    /* color: #FF9800; */
}

.simple-menu-option:focus {
    outline: none;
}

.hide {
    display: none !important;
}