.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  max-height: 85%;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
}

.title {
  font-size: x-large;
  font-weight: bold ;
  padding-top: 5px;
  padding-left: 5px;
  margin:5px 0px 5px 0px;

}
.description {
  padding: 5px;
  font-size: 15px;
  font-weight: normal;

}

.profname {
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: medium;
  margin-top: 10px;
}

.dateTimePlace {
  margin-left: 5px;
  font-size: smaller;
  font-weight: bold;
}

#chart {
	min-width: auto;
	max-width: 800px;
	height: 250px;
	margin: 0 auto
  z-index:1;
}

.card {
  transition: 0.3s;
  margin-bottom: 10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.card:hover {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.cardcontainer {
  padding: 2px 16px;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

.description {
  padding: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.topbuttons .matbut {
  display:inline-block;
}

.matbut {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: medium;
  font-style: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #FF9800;
}

.matbut{
  position: relative;
  overflow: hidden;
}

.matbut:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.matbut:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -200px; 
  background-color: #333;
  color: #fff; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px;
}

#snackbar.show {
  visibility: visible; 

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}