@import 'src/views/styles/base.module.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;

    &.overlay {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2147483647;
    }
}

.body {
    overflow-y: auto;
    z-index: 2147483647;
    background-color: $white;
    box-shadow: 0px 12px 30px 0px #323e5f29;
    transition: box-shadow 0.15s;
}
