@import 'src/views/styles/base.module.scss';

@layer base {
    .extensionRoot {
        @import 'tailwind-compat';
    }

    span {
        font-family: inherit;
    }
}

.extensionRoot {
    @apply font-sans h-full;
    color: #303030;

    [data-rfd-drag-handle-context-id=':r1:'] {
        cursor: move;
    }
}
