@import 'src/views/styles/base.module.scss';

.extensionRoot {
    font-family: 'Inter' !important;
    color: #303030;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}
