/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */ 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
}

.title {
    font-size: x-large;
    font-weight: bold ;
    padding-top: 5px;
    margin:0px 0px 5px 0px;

}
.description {
    padding: 5px;
    font-size: 15px;
    font-weight: normal;

}

.profname {
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: medium;
    margin-top: 10px;
    font-weight: bold;
}

#chart {
	min-width: auto;
	max-width: 800px;
	height: 250px;
	margin: 0 auto
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardcontainer {
    padding: 2px 16px;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.topbuttons .matbut {
    display:inline-block;
}

/* Material style */
.matbut {
  border: none;
  cursor: pointer;
  color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: medium;
  font-style: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #FF9800;
}

/* Ripple magic */
.matbut{
  position: relative;
  overflow: hidden;
}

.matbut:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.matbut:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}