$burnt_orange: #bf5700;
$charcoal: #333f48;
$white: #ffffff;
$black: #000000;
$tangerine: #f8971f;
$sunshine: #ffd600;
$cactus: #a6cd57;
$turtle_pond: #579d42;
$turquoise: #00a9b7;
$bluebonnet: #005f86;
$shade: #9cadb7;
$limestone: #d6d2c4;
$speedway_brick: #af2e2d;

//scss hover active focus color calculation

:export {
    burnt_orange: $burnt_orange;
    charcoal: $charcoal;
    white: $white;
    black: $black;
    tangerine: $tangerine;
    sunshine: $sunshine;
    cactus: $cactus;
    turtle_pond: $turtle_pond;
    turquoise: $turquoise;
    bluebonnet: $bluebonnet;
    shade: $shade;
    limestone: $limestone;
    speedway_brick: $speedway_brick;
}
