$BURNT_ORANGE: #bf5700;
$CHARCOAL: #333f48;
$WHITE: #ffffff;
$TANGERINE: #f8971f;
$SUNSHINE: #ffd600;
$CACTUS: #a6cd57;
$TURTLE_POND: #579d42;
$TURQUOISE: #00a9b7;
$BLUEBONNET: #005f86;
$SHADE: #9cadb7;
$LIMESTONE: #d6d2c4;

:export {
    BURNT_ORANGE: $BURNT_ORANGE;
    CHARCOAL: $CHARCOAL;
    WHITE: $WHITE;
    TANGERINE: $TANGERINE;
    SUNSHINE: $SUNSHINE;
    CACTUS: $CACTUS;
    TURTLE_POND: $TURTLE_POND;
    TURQUOISE: $TURQUOISE;
    BLUEBONNET: $BLUEBONNET;
    SHADE: $SHADE;
    LIMESTONE: $LIMESTONE;
}
