@each $weight in '100' '200' '300' '400' '500' '600' '700' '800' '900' {
    @font-face {
        font-family: 'Inter';
        src: url('@public/fonts/inter-#{$weight}.woff2') format('woff2');
        font-display: auto;
        font-style: normal;
        font-weight: #{$weight};
    }
}

@each $weight in '100' '300' '400' '500' '700' '900' {
    @font-face {
        font-family: 'Roboto';
        src: url('@public/fonts/roboto-#{$weight}.woff2') format('woff2');
        font-display: auto;
        font-style: normal;
        font-weight: #{$weight};
    }
}

@font-face {
    font-family: 'Roboto Flex';
    src: url('@public/fonts/roboto-flex.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('@public/fonts/material-icons.woff2') format('woff2');
}

$normal_weight: 500; // Used by <Icon>, will be removed later

$medium_size: 16px;

:export {
    normal_weight: $normal_weight;

    medium_size: $medium_size;
}
