@use 'src/views/styles/colors.module.scss';

.dropdown {
    width: 290px;
    padding: 15px 10px;
    border: 1px solid var(--Secondary-Colors-Off-white, #d6d2c4);
    border-radius: 4px;
    transition: height 0.3s ease;
    .dropbutton {
        border: none;
        background: var(--Primary-Colors-White, #fff);
        display: flex;
        padding: 0px 15px;
        align-items: center;
        div {
            gap: 0px 10px;
            display: flex;
            flex-wrap: wrap;
            .title {
                margin: 0px;
                overflow: hidden;
                color: var(--Primary-Colors-Burnt-Orange, var(--Primary-Colors-Burnt-Orange, #bf5700));
                text-overflow: ellipsis;
                /* Type scale/h4 */
                font-family: 'Roboto Flex';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            .hours {
                margin: 0px;
                color: var(--Other-Colors-UTRP-Black, var(--Other-Colors-UTRP-Black, #1a2024));
                /* Type scale/h3 */
                font-family: 'Roboto Flex';
                font-size: 20.25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .courses {
                margin: 0px;
                color: var(--Primary-Colors-Black, var(--Primary-Colors-Black, #333f48));
                /* Type scale/h4 */
                font-family: 'Roboto Flex';
                font-size: 20.25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }

    // dropdown list
    ul {
        margin: 0px;
        display: flex;
        padding: 5px 0px 5px 0px;
        flex-direction: column;
        gap: 10px;
        align-self: stretch;
        li {
            display: flex;
            align-items: center;
            align-self: stretch;

            color: var(--Primary-Colors-Burnt-Orange, var(--Primary-Colors-Burnt-Orange, #bf5700));
            :hover {
                cursor: pointer;
            }

            div {
                gap: 7px;
                align-items: center;
                display: flex;
            }
        }
    }
}

.icon {
    width: 30px;
    height: 30px;
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
    justify-content: center;
    color: var(--Primary-Colors-Burnt-Orange, var(--Primary-Colors-Burnt-Orange, #bf5700));
}

.draggableicon {
    margin-right: -10px;
    display: flex;
    font-size: 18px;
    color: #d6d2c4bf;
}
