@import 'src/views/styles/base.module.scss';

.chartContainer {
    height: 250px;
    margin: 20px;
    padding: 12px;

    :global(.highcharts-background) {
        fill: transparent;
    }
}

.textContainer {
    height: 250px;
    margin: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        padding: 12px;
        box-shadow: none;
        text-align: center;

        // add some vertical padding to each element
        > * {
            margin: 0.2em 0;
        }
    }
}
