@import 'src/views/styles/base.module.scss';

.chartContainer {
    height: 250px;
    margin: 20px;
    padding: 12px;
    position: relative;

    .selectContainer {
        display: flex;
        position: absolute;
        width: 100%;
        margin-top: -8px;
        justify-content: center;

        select {
            z-index: $MAX_Z_INDEX;
            padding: 4px;
            font-family: 'Inter';
            border-radius: 8px;
            border-color: $charcoal;
        }
    }

    :global(.highcharts-background) {
        fill: transparent;
    }
}

.textContainer {
    margin: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        padding: 12px;
        box-shadow: none;
        text-align: center;

        // add some vertical padding to each element
        > * {
            margin: 0.2em 0;
        }
    }
}
