@use 'sass:color';
@use 'src/views/styles/colors.module.scss';

.button {
    padding: 0px 16px;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: 'Roboto Flex';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &:active {
        transform: scale(0.96);
    }

    &.disabled {
        cursor: not-allowed !important;
        opacity: 0.5 !important;

        &:active {
            transform: unset;
        }
    }

    &.filled {
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }

    &.outline {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
    }

    &.single {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
}
