.scrollableSchedules {
    overflow-y: auto; /* Enables vertical scrolling */
}

.scrollableLimit {
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 35vh; /* Adjusts based on your needs and testing */
}
