@import 'src/views/styles/base.module.scss';

.rowButton {
    margin: 0px;
}

.selectedRow {
    * {
        background: $burnt_orange !important;
        color: white !important;
        box-shadow: none !important;
    }
}

.inActiveSchedule {
    * {
        color: $turtle_pond !important;
        font-weight: bold !important;
    }
}

.isConflict {
    * {
        color: $speedway_brick !important;
        font-weight: normal !important;
        text-decoration: line-through !important;
    }
}

.row {
    .conflictTooltip {
        position: relative;
        display: none;

        .body {
            position: absolute;
            left: 40px;
            display: flex;
            flex-direction: column;
            background: black;
            padding: 8px;
            width: 120px;
            border-radius: 0px 5px 5px 0px;
            opacity: 0.5;
            div {
                color: white !important;
                text-decoration: none !important;
                font-weight: normal !important;
            }
        }
    }
    &:hover {
        .conflictTooltip {
            display: initial;
        }
    }
}
