@use 'sass:color';
@use 'src/views/styles/colors.module.scss';

.dayLabelContainer {
    display: flex;
    flex-direction: row;
    height: 13px;
    min-width: 40px;
    min-height: 13px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 8px;
}

.calendarRow {
    display: flex;
}

.calendar {
    // display: grid;
    // grid-template-columns: auto repeat(5, 1fr);
    gap: 10px;
}

.day {
    gap: 5px;
    color: colors.$burnt_orange;
    text-align: center;
    font-size: 14.22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.timeBlock {
    display: flex;
    width: 50px;
    height: 40.279px;
    min-width: 50px;
    max-width: 50px;
    min-height: 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.timeLabelContainer {
    display: flex;
    max-height: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 17px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--border-radius-none, 0px);
}