@import 'src/views/styles/base.module.scss';

.button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-family: 'Inter';

    &:hover {
        background-color: #fff;
        color: #000;
    }
}
