@use 'src/views/styles/colors.module.scss';

.container {
    margin: 20px;
    padding: 12px;

    .description {
        list-style-type: disc;
        margin: 0px;
        padding-left: 20px;
        max-height: 200px;
        overflow-y: auto;

        li {
            padding: 0px 4px 4px;
            .prerequisite {
                font-weight: bold;
            }

            .onlyOne {
                font-style: italic;
            }

            .restriction {
                color: colors.$speedway_brick;
            }
        }
    }
}
