@import 'src/views/styles/base.module.scss';
.header {
    height: auto;
    color: white;
    padding: 12px;
    margin: 20px;
    align-items: center;
    position: relative;
    justify-content: center;

    .close {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
    }

    .title {
        display: flex;
        align-items: center;
        margin-right: 40px;

        .courseName {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            // underline
        }

        .uniqueId {
            flex: 1;
            margin-left: 8px;
        }
    }

    .instructors {
        margin-top: 8px;
    }

    .meeting {
        margin-top: 8px;
    }
}
