.popup {
    border-radius: 12px;
    position: relative;

    .close {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
    }

    .body {
        height: auto;
        color: white;
        padding: 12px;
        margin: 40px;
        align-items: center;
        justify-content: center;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;

            .uniqueId {
                margin-left: 8px;
            }
        }
    }
}
