.calendar-cell {
    display: flex;
    width: 165px;
    height: 52.231px;
    min-width: 45px;
    min-height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .hour-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid black; /* Adjust line styles as needed */
  }
  