.calendarCell {
    display: flex;
    width: 165px;
    height: 52.231px;
    min-width: 45px;
    min-height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #dadce0;
}

.hourLine {
    width: 165px;
    height: 1px;
    border-radius: var(--border-radius-none, 0px);
    background: rgba(218, 220, 224, 0.25);
}
