@import 'src/views/styles/base.module.scss';

.card {
    background: $white;
    border: 0.5px dotted #c3cee0;
    box-sizing: border-box;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
